
div#div_perso {
    display: flex;
    /* position: absolute; */
    top: 70%;
}
img#perso {
    position: absolute;
    width: 100px;
    left: 10px;
    bottom: 0px;
    /* background-color: brown; */
}
